# Ollama-supported quick pulls/runs: https://ollama.com/search

OLLAMA_CHAT_MODEL=YOUR_CHAT_MODEL #qwen3:0.6b
OLLAMA_RERANK_MODEL=YOUR_RERANK_MODEL #dengcao/Qwen3-Reranker-0.6B:Q8_0
OLLAMA_EMBEDDING_MODEL=YOUR_EMBEDDING_MODEL #qwen3-embedding:0.6b